body {
    background-color: #FAFAFA;
   margin-left: 17.7%;
   margin-right: 17.3%
}
@media (max-width: 768px){
body{
        margin-left: 2%;
        margin-right: 2%;}
    }

.logo{
    text-align: center;
    
}
.container{
    padding: 5px 0px;
    margin-top: 5px;}
.search{ 
    background-color: #FAFAFA;
    text-align: center;
}
.info{
    text-align: center;
    margin-top: 5px;}

.bigfoto{
    height: 154px;
    width: 153px;
    border-radius: 50%;
    background-color: black;
    display: flex;
}
@media (max-width: 1640px){
    .block2{
        display: flex;
    }
    .story{
        max-width: 200%;
        margin-right: 100px;
    }
    
}
@media (max-width: 768px){
    .block2{
        display: flex;
    }
    .bigfoto{
        transform: scale(0.8);
    }
    .block2{
        transform: scale(0.9);

    }
    .Followers{
        font-size: 13px;
    }
    .story{
       
        margin-right: 20px;
    }
   
}
.Followers{
  text-align: start;
}
.story{
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: black;
    margin-left: 20px;
    transform: scale(1.1);
    
}
.stories{
    display: inline-flex;
    margin-top: 20px;
}
.story p{
    position: absolute;
    margin-top: 85px;
    margin-left: 15px;
}
.hr2{
    margin-top: 55px;
}
.clo{
    margin-right: 26px;
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    display: inline;
    color: #262626;
}
.p3{
    display: inline;
    margin-right: 20px;
    margin-bottom: 21px;

}








.content{ 
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;

}
.tabs{
    margin-bottom: 50px;
}
.tabs_items{
    position: absolute;
    display: flex;
    margin-top: -70px;
    margin-left: 26%;
}

.tabs_item{
    flex: 0 1 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #8F8F8F;
}
.tabs_item::after{
    color: #000000;
}
.tabs_body{}
.tabs_block{
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    display: none;
}
.text{font-size: 18px;
    line-height: 24px;}

    .tabs_block:target{
        display: block;
    }


















.content{
   
    margin: 0 auto;
    padding: 50px 0;
}
.tabs_items a{ 
    text-align: center;
}
.tabs_items{
    width: 200px;
    justify-content: center;
    height: 50px;
    display: flex;
    flex: 50%;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.tabs_item1{
    height: 50px;
    display: flex;
    text-transform: uppercase;
    margin-left: 370px;
    
  
}
.hr{
  margin-left: 70px;
  margin-right: 90px;
}
.hr1{
   left: 0;
   margin-right: -200px;
   margin-top: 10px;
  }
.tabs_item2{ 
   
  
    height: 50px;
    display: flex;
    text-transform: uppercase;
    margin-left: 45px;
    
    
  
}

.tabs_body img{
    height: 297px ;
    width: 297px;
    

  
}
#tab1{
    margin-left: 70px;
    margin-right: 80px;
}
#tab2{
    margin-left: 70px;
    margin-right: 80px;
}
.tabs_block{
    display: none;
}

.text{
    font-size: 18px;

}
.tabs_block:target{
    display: block;
}
.nava{
    position: absolute;
    margin-left:70px;
    margin-top: -40px;
}


.lines{
      margin-top:20px ;
  }
 #tagged{
     margin-top: 15px;
    margin-left: 5px;
    border:  none ;
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.09em;
    color: #8F8F8F;
}
 a{
     text-decoration: none;
 } 
 
.all{
    max-width: 1440px;
    display: flex;
}
.all2{
    max-width: 1440px;
    display: flex;
    margin-top: 25px;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    margin-right: 25px;
}
.img-fluid {
    max-width: 100%;
    height: auto !important;
    
}
.row{
    width: 100%;
    max-width: 100%;
}

/* @media (max-width:991px){
    .rad{
        width: 207px;
        height: 207px;
        background-color: #000000;
        margin-right: 25px;
    }
    
}
@media (max-width:767px){
    .rad{
        width: 150px;
        height: 150px;
        background-color: #000000;
        margin-right: 20px;
    }
    
}
@media (max-width:576px){
    .rad{
        width: 140px;
        height: 140px;
        background-color: #000000;
        margin-right: 16px;
       
    }
    
}
@media (max-width:510px){
    .rad{
        width: 120px;
        height: 120px;
       
      
    }
    
} */
/* .all{
    display: flex;
    flex: 0 1 33.333%;
    height: auto;
}
.tabs_body
{
   margin: 15px auto;
} */