
.content{ 
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;

}
.tabs{
    margin-bottom: 50px;
}
.tabs_items{
    display: flex;
}
.tabs_item{
    flex: 0 1 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}
.tabs_body{}
.tabs_block{
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    display: none;
}
.text{font-size: 18px;
    line-height: 24px;}

    .tabs_block:target{
        display: block;
    }